<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<link href='https://fonts.googleapis.com/css?family=Sofia' rel='stylesheet'>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<style>
    body{
        background-image: url("./img/hand.jpg");
    }
</style>
<div ng-controller="aboutController">
    <div class="row" id="aboutProject">
        <div class="col-lg-12" style="padding:10px;margin:10px;">
            <div class="col-lg-12" style="font-size: 300%;padding-top: 50px; color: red;font-family: sofia"><b>Blood Bank Service Portal</b></div>
            <div class="col-lg-12" style="padding: 10px;margin: 10px;font-size: 150%;">
                <div ><b>Any Person Who wants blood can search for Donors and Blood Bank nearby through this Site</b></div><br>
                <div><b>Any Person or any Social Organization who wish to Donate to Blood can register this Portal</b></div><br>
                <div><b>This Portal will send Donor and Blood Bank an SMS if the patient require your service</b></div><br>
                <div><b>People can make a survey based on history log of blood request through this portal</b></div><br>
            </div>
        </div>
    </div>
</div>